@font-face {
  font-family: 'Roboto-thin';
  src: url('Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-black';
  src: url('Roboto-Black.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DaxlinePro';
  src: url('DaxlinePro-ExtraBold.eot');
  src: local('DaxlinePro-ExtraBold'),
      url('DaxlinePro-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('DaxlinePro-ExtraBold.woff') format('woff'),
      url('DaxlinePro-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

